@triplydb:registry=https://git.triply.cc/api/v4/packages/npm/
@triplyetl:registry=https://git.triply.cc/api/v4/packages/npm/
//git.triply.cc/api/v4/packages/npm/:_authToken=glpat-TgHBxLyG2CfAP-xoA5WS
fund = false
audit = false
loglevel = silent